---
layout: default
---
{% include nav.html %}

<div style="margin: 10px; display: flex; justify-content: center">
<!--small style="text-align: center; padding: 10px; background-color: rgba(200, 200, 200, 0.2); border-radius: 10px; margin-bottom: 10px; margin-top: 10px;">
    <a href="https://exams.is.ed.ac.uk/">Resit timetable is out!</a>
    <strong style="color:red">Interactivity down due to power outage in Edinburgh.</strong> Existing users can access the Drive from drive.google.com.
    >
</small-->
</div>

{% if page.year and page.year != "start" %}
<a id="sem1-btn" data-sem="1"  class="btn">view semester 1</a>
<a id="sem2-btn" data-sem="2"  class="btn">view semester 2</a>
<a id="all-btn" data-sem="all" class="btn">view all</a>

<details><summary><small>Click here for general information about course choices.</small></summary>
    <small>
        <p>Courses on this site are structured by the years they are <em>typically</em> taken in. However, if a course is normally taken in a later (or earlier) year, it does not necessarily mean that you <em>cannot</em> take it now.</p>
        <p>Course level is generally a good indicator of course difficulty. Courses of level up to and including 9 are normally taken in years 1 and 2, while level 10 and 11 courses are typically taken in years 3 through 5. If you are on an MMath degree, you are <b>required</b> to take a total of 120 credits of level 11 courses over the years 4 and 5, the 40-credit dissertation in year 5 counts towards this total.</p>
        <p>Please don't hesitate to contact your P.T. or the course organizer of the course if you have special requirements or are overwhelmed. For example, if there is a specific course that you would like to take outside of the typical regime, do not be afraid to ask these people for advice and/or a concession for the course.</p>
        <p>Note that while the school advises against overloading on course credits, there is nothing actually stopping you from doing this. However, with an increased load your academic performance may suffer. Quite often, 20 credit and 10 credit courses require a similar amount of effort to do well in.</p>
    </small>
</details>
{% endif %}

{% if page.year and page.year == "start" %}
<p align="center">
    Better Mathematics is a collaborative platform where staff and students of all years can share academic resources for courses offered by the <a href="https://www.maths.ed.ac.uk/school-of-mathematics">School of Mathematics at the University of Edinburgh</a>.
</p>
{% endif %}

{% include other-courses.html %}

{{ content }}

{% assign len =  page.path.size | minus: 3 | minus: 7 %}
{% assign name = page.path | slice: 7, len %}

{% if site.data.settings.examSeason and page.year and page.year != "start" %}
<section id="exams">
    <h3>
        <span>
            Exams
            <small>
                | <a href="https://exams.is.ed.ac.uk">official list</a>
            </small>
        </span>
    </h3>
    {% include exams.html %}
</section>
{% endif %}

<!-- First show pinned sections -->

{% assign sections = site.sections | where: "year", page.year | where: "pinned", true | sort: "title" %}
{% if page.show-archived == false %}
{% assign sections = sections | where: "archived", "false" %}
{% endif %}

{% if page.year %}
{{ sections }}
{% endif %}

<!-- Then show non-pinned sections -->

{% assign sections = site.sections | where: "year", page.year | where: "pinned", false | sort: "title" %}
{% if page.show-archived == false %}
{% assign sections = sections | where: "archived", "false" %}
{% endif %}

{% if page.year %}
{{ sections }}
{% endif %}